.nav-rel {
   overflow: hidden;
  background-color: #333;
    font-weight:bolder;
}

.nav-rel a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav-rel a:hover {
  background-color: #ddd;
  color: black;
}

header{
    color:darkturquoise;
    font-size: 20px;
    text-align: center;
}

h3 ,p {
    font-family: Arial;
}

article p {
    color:darkmagenta;
}

h2 {
    color:red !important;
}
